<div class="parallax">
    <div class="fs-1 d-flex justify-content-center mb-5 tcolor">Best Winter Trips</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xs-12  my-2">
                <div class="card mx-auto" style="width:40rem;">
                    <img src="/assets/img/jasna.jpg " style="height:20rem; object-fit:cover " class="card-img ">
                    <div class="card-img-overlay">
                        <h5 class="card-title bg-danger text">$160.00/pers.</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12  my-2">
                <div class="card mx-auto" style="width:40rem; ">
                    <img src="/assets/img/finland.jpg " style="height:20rem; object-fit:cover " class="card-img ">
                    <div class="card-img-overlay ">
                        <h5 class="card-title bg-danger text">$460.00/pers.</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-6 col-xs-12 my-2">
                <div class="card mx-auto " style="width:40rem; ">
                    <img src="/assets/img/austria.jpg " style="height:20rem; object-fit:cover " class="card-img ">
                    <div class="card-img-overlay ">
                        <h5 class="card-title bg-danger text ">$630.00/pers.</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12  my-2">
                <div class="card mx-auto " style="width:40rem; ">
                    <img src="/assets/img/sveden.jpg " style="height:20rem; object-fit:cover " class="card-img ">
                    <div class="card-img-overlay ">
                        <h5 class="card-title bg-danger text ">$650.00/pers.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>