<div class="card-group m-3">
    <div class="card text-center m-3 rounded shadow-lg">
        <h1><i class="fa-solid fa-building"></i></h1>
        <div class="card-body">
            <h5 class="card-title">Accommodation</h5>
            <p class="card-text">We offer the finest selection of top notch hotels anywhere.</p>
        </div>
    </div>
    <div class="card text-center m-3 rounded shadow-lg">
        <h1><i class="fa-solid fa-plane"></i></h1>
        <div class="card-body">
            <h5 class="card-title">Transportation</h5>
            <p class="card-text">Whether its about air tickets or shuttle bus, we will set it up!</p>
        </div>
    </div>
    <div class="card text-center m-3 rounded shadow-lg">
        <h1><i class="fa-solid fa-people-group"></i></h1>
        <div class="card-body">
            <h5 class="card-title">Seasoned Agents</h5>
            <p class="card-text">Combined, the experience our agents have is centuries!</p>
            
        </div>
    </div>
    <div class="card text-center m-3 rounded shadow-lg">
        <h1><i class="fa-solid fa-star"></i></h1>
        <div class="card-body">
            <h5 class="card-title">Easy Trip Planning</h5>
            <p class="card-text">Our travel agents are always ready to plan your perfect trip!</p>
        </div>
    </div>
</div>