<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-none">
    <div class="container-fluid ">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse serri navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center">
                <img src="/assets/img/logo.png" class="slika" alt="">
                <li class="nav-item">
                    <a class="nav-link btn btn-danger text-light dugme" aria-current="page" routerLink="/">{{title}}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" routerLink="/about" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     About
                     </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Hot tours
                     </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     News
                     </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#" aria-current="page">Schedule</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Gallery
                     </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Pages
                     </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#" aria-current="page">Contacts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>